<div
    class="fr-container fr-background-alt--grey fr-px-md-2 fr-pt-10v fr-pt-md-10v fr-pb-6v fr-pb-md-10v"
>
    @if (eventList().results) {
        <h3>{{ eventList().results?.length }} évènement(s) affiché(s)</h3>
        <h6>{{ eventList().total_count }} évènement(s) disponible(s)</h6>
    }
    <div class="fr-grid-row fr-grid-row--gutters">
        @for (event of eventList().results; track event.id) {
            <app-card class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">
                <a
                    [href]="event.url"
                    class="card-title"
                >
                    {{ event.title }}
                </a>
                <img
                    class="card-img fr-responsive-img"
                    [src]="event.cover_url"
                    [alt]="event.title"
                />
            </app-card>
        } @empty {
            <app-alert
                [alert]="alertNoEventFound"
                type="info"
            ></app-alert>
        }
    </div>
</div>
