<div class="fr-container fr-background-alt--grey fr-px-md-2 fr-pb-6v fr-pb-md-10v">
    <div class="fr-sticky-container fr-background-alt--grey">
        <h3>{{ store.events().length }} évènement(s) affiché(s)</h3>
        <h6>{{ store.total() }} évènement(s) disponible(s)</h6>
    </div>
    @if (store.events().length > 0) {
        <div class="fr-grid-row fr-grid-row--gutters">
            @for (event of store.events(); track event.id) {
                <app-card class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">
                    <a
                        [href]="event.url"
                        class="card-title"
                    >
                        {{ event.title }}
                    </a>
                    <img
                        class="card-img fr-responsive-img"
                        [src]="event.cover_url"
                        [alt]="event.title"
                    />
                </app-card>
            }
            @if (store.hasMore()) {
                <div
                    class="fr-col-12"
                    appInfiniteScroll
                    (scrolledToEnd)="store.loadNextPage()"
                    [disabled]="store.listLoading()"
                ></div>
            }
        </div>
    } @else {
        <app-alert
            [alert]="alertNoEventFound"
            type="info"
        ></app-alert>
    }
</div>
