$white-separator: var(--bg-tags);

@mixin tag-separator($separator-color) {
    app-tag {
        display: block;
        position: relative;
    }

    app-tag + app-tag {
        margin-top: 4rem;

        &::before {
            content: "";
            background-color: $separator-color;
            border-radius: 0.5rem;
            display: block;
            height: 0.15rem;
            width: 100%;
            position: absolute;
            top: -2rem;
        }
    }
}

.contacts {
    @include tag-separator($white-separator);
    &::last-child {
        margin-bottom: 2rem;
    }

    a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
