/* You can add global styles to this file, and also import other style files */
.rich-text {
    figure {
        img {
            max-width: 800px;
        }
    }
}

:root {
    --bg-tags: #fff;
}

:root[data-fr-theme="light"] {
    --bg-tags: #f5f5fe;
}

:root[data-fr-theme="dark"] {
    --bg-tags: #fff;
}
