<fieldset
    class="fr-fieldset fr-p-2v"
    id="checkboxes"
    aria-labelledby="checkboxes-legend checkboxes-messages"
>
    @if(filter().label) {
        @for (inputFilter of filter().filters ?? []; track filter().name + $index) {
            <div class="fr-fieldset__element fr-px-8v">
                <app-checkbox
                    [title]="filter().label+inputFilter.name+$index"
                    [isChecked]="isExistInUrl(filter().name, inputFilter.name)"
                    (checkedChange)="onUpdate(filter().name, inputFilter.name)"
                >
                    <div checkbox-text>
                        {{ translateValue(inputFilter.name) }} ( {{ inputFilter.count}} )
                    </div>
                </app-checkbox>
            </div>
        }
    }
</fieldset>
